<!doctype html5>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, 
    shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="knsonera">
  <link rel="icon" href="/static/favicon.png">

  <title>recipe app</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/styles.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand mx-3" href="{{url_for('showCategories')}}">
      <img class="" src="/static/favicon.png" height="20px"> recipe app</a>
  </nav>

  <div class="container-fluid">
    <div class="row">
      {% block content %} {% endblock %}
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>
  <script>
    var preview = document.getElementById('article-preview');
    if (preview) {
      document.getElementById('article-preview-button').onclick = function () {
        if (preview.style.display == "none") {
          document.getElementById('article-preview').style.display = 'block';
        } else {
          document.getElementById('article-preview').style.display = 'none';
        }
      }
    }
  </script>
</body>

</html>
