{% extends "main.html" %} {% block content %} {% include "sidebar.html" %}
<main role="main" class="col-md-9 col-lg-9 pt-3 px-3 kn-main">
  <!-- Main section -->

  <div class="blog-post">
    <h3 class="article-title">
      <span>{{recipe.title}}</span>
      <a class="text-muted" href="{{url_for('editRecipe', category_id=category.id, 
                                  article_id=article.id)}}">
        <span class="topic-title-icon" data-feather="edit"></span>
      </a>
      <a class="text-muted" href="{{url_for('deleteRecipe', category_id=category.id,
                                  recipe_id=recipe.id)}}">
        <span class="topic-title-icon" data-feather="trash-2"></span>
      </a>
    </h3>

    <p>{{recipe.description}}
    </p>
    <a role="button" class="btn btn-secondary" href="{{url_for('showCategory', 
                                                      category_id=category.id)}}">
      Back to category</a>
    <br>
  </div>
  <!-- /.blog-post -->
</main>
{% endblock %}
